<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rain Check v.0345</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <pre id="asciiText">
      #     #                                             ######                                    
      #  #  # ######   ##   ##### #    # ###### #####     #     # ###### #####   ####  #####  ##### 
      #  #  # #       #  #    #   #    # #      #    #    #     # #      #    # #    # #    #   #   
      #  #  # #####  #    #   #   ###### #####  #    #    ######  #####  #    # #    # #    #   #   
      #  #  # #      ######   #   #    # #      #####     #   #   #      #####  #    # #####    #   
      #  #  # #      #    #   #   #    # #      #   #     #    #  #      #      #    # #   #    #   
       ## ##  ###### #    #   #   #    # ###### #    #    #     # ###### #       ####  #    #   #        
    </pre>
    <pre id="instructions"></pre>
    <pre id="output"></pre>
    <div id="prompt">
      <span id="command-input"></span>
      <span id="cursor" class="blink"></span>
    </div>

    <div id="interlaced"></div>
    <div id="glare"></div>

    <script src="/terminal.js"></script>
  </body>
</html>
